.fancy-header {
    color: rebeccapurple;
    text-align: center;
    letter-spacing: 1px;
    font-size: 5rem;
}

h2, h3 {
    color: mediumpurple;
    text-decoration: underline;
}

body {
    background-image:url("/codeup-web-exercises/img/4907157.jpg");
}